@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

     font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 4px;
}